<section>
    <h1>Login</h1>

    <form class="flex flex-col max-w-sm" method="POST">
        {{ template "partials/error-message" . }}

        <label class="font-bold" for="email">Email</label>
        <input id="email" name="email" type="email" autocomplete="email" placeholder="Enter Email" autofocus required />

        <label class="font-bold" for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="current-password" placeholder="Enter Password" required />

        {{ with .Redirect }}
        <input class="hidden" name="redirect" type="text" value="{{ . }}" readonly />
        {{ end }}

        <p class="mt-0"><small><a href="/reset-password">Forgot your password?</a></small></p>

        <button type="submit">Login ▶</button>
    </form>
</section>
