{{ if .IsInvitation }}
<h2>Set Your Password</h2>
{{ else }}
<h2>Reset Password</h2>
{{ end }}

{{ with .User }}
    <form class="flex flex-col max-w-sm" method="POST">
        <input class="hidden" name="id" type="number" value="{{ .ID }}" readonly />

        <label class="font-bold" for="password">New Password</label>
        <input id="password" name="password" type="password" autocomplete="new-password" placeholder="New Password" onkeyup="checkPasswordConfirmation()" required />

        <label class="font-bold" for="confirmPassword">Confirm New Password</label>
        <input id="confirmPassword" name="confirm-password" type="password" autocomplete="new-password" placeholder="Confirm Password" onkeyup="checkPasswordConfirmation()" required />
        <p class="my-0 hidden"><small id="passwordCheck"></small></p>

        <button class="mt-4" type="submit" disabled>Change Password ▶</button>
    </form>
{{ else }}
    <p>A reset link will be sent to the provided email address.</p>

    <form class="flex flex-col max-w-sm" method="POST">
        {{ template "partials/error-message" . }}

        <label class="font-bold" for="email">Email</label>
        <input class="mb-4" id="email" name="email" type="email" autocomplete="email" placeholder="Enter Email" required />

        <button type="submit">Reset ▶</button>
    </form>
{{ end }}
