<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {{ if .Title}}
    {{ .Title }}
    {{ else }}
    Dorothy
    {{ end }}
    </title>
    {{ with .Description }}
    <meta name="description" content="{{ . }}" />
    {{ end }}
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
