<header role="banner">
    <div>
        <h1><a href="/">Dorothy</a></h1>
    </div>
    <ul>
        <div class="nav-left">
            {{ range .Items }}
            <li class="active">
                <a class="page-link" href={{.Href}}>{{.Title}}</a>
            </li>
            {{ end }}
        </div>
        <div class="nav-right">
            {{ with .AuthUser }}
            <li class="active"><span>{{ .Email }}</span> <a class="page-link" href="/logout">Logout</a></li>
            {{ else }}
            <li class="active"><a class="page-link" href="/login">Login</a></li>
            <li class="active"><a class="page-link" href="/register">Register</a></li>
            {{ end }}
        </div>
    </ul>
</header>
