<div class="sidebar">
    <h1>Datasets</h1>

    <div class="sidebar_controls">
        <!--<details>
            <details-menu>
                <ul>
                    <li><strong>Organizations</strong></li>
                    {{ range .Organizations }}
                        <li>
                            <span class="icon">
                                <i class="fa fa-check" />
                            </span>
                            <a href="javascript:void(0)">{{ .Name }}</a>
                        </li>
                    {{ end }}
                    <li>
                        <span class="icon">
                            <i class="fa fa-square-plus" />
                        </span>
                        <a href="/organization/create">Create Organization</a>
                    </li>
                </ul>
            </details-menu>
        </details>-->
		{{ with .Organization }}
        <a class="button" href="{`{{ .Slug }}/dataset/create`}">
            <span class="icon">
                <i class="fa fa-square-plus" />
            </span>
            <span>Create</span>
        </a>
        {{ end }}
    </div>
    
    {{ if .Organization }}
    {{ $org := .Organization }}
    {{ if $org.Datasets }}
        <ul>
            {{ range $org.Datasets }}
                <li>
                    <span class="icon">
                        <i class="fa fa-check" />
                    </span>
                    <a href="{{$org.Slug}}/{{.Slug}}">{{.Name}}</a>
                </li>
            {{ end }}
        </ul>
	{{ else }}
		<p>Organization has no datasets yet.</p>
	{{ end }}
	{{ end }}
</div>
