<li class="version version--{{if eq .PathType "DIRECTORY"}}dir{{else}}file{{end}}" data-hash="{{ .Hash }}" data-parents="{{ .Parents }}">
    <div class="version_body">
        <div class="version_row">
            <span class="version_message">
            	{{ .Message }}
            </span>
        </div>
        <div class="version_row">
            <span class="version_author">{{ .Author }}</span>
            <span class="version_date">{{ .Date }} </span>
        </div>
        <div class="version_row">
            <span class="version_hash">
                <a href="http://localhost:8080/ipfs/{{.Hash}}">
                    {{ .Hash }}
                </a>
            </span>
        </div>
    </div>
</li>
