@import 'variables';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $sans;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: $base-font-variation;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;

  color: $text-color;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: $serif;
}

h1 {
  font-size: calc(1.25 * $base-font-size);
}

h2 {
  font-size: calc(1.125 * $base-font-size);
}

a {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

button {
  border: 1px solid black;
  font-size: 100%;
  background: $gray-color-10;
  width: fit-content;
  margin-top: calc($spacing-unit / 4);
  margin-left: auto;
  color: $text-color;
  font-weight: bold;
  padding: calc($spacing-unit / 3) calc($spacing-unit / 2);

  &:hover {
    background: $gray-color-20;
    cursor: pointer;
  }

  &:disabled {
    background: $gray-color-05;
    color: $gray-color-40;
  }
}

header {
  box-sizing: border-box;
  padding: $spacing-unit calc(2 * $spacing-unit);

  @include media-query(calc($on-palm + 5 * $spacing-unit)) {
    padding: $spacing-unit calc($spacing-unit / 2);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: calc(2 * $base-font-size);
    }

    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      align-items: center;

      li {
        margin: 0 calc($spacing-unit / 2);
      }
    }
  }
}

section {
  margin-bottom: $spacing-unit;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid $gray-color-20;
    margin-bottom: calc($spacing-unit / 4);

    h1 {
      font-size: calc(1.25 * $base-font-size);
    }

    nav {
      ul {
        li {
          margin: 0;
        }
      }
    }
  }
}

.featured {
  &_items {
    display: grid;
    gap: calc($spacing-unit / 2) $spacing-unit;
    grid-template-columns: repeat(4, 1fr);

    @include media-query(calc(4 * 300px + 4 * $spacing-unit + 3 * $spacing-unit)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-query(calc(3 * 300px + 4 * $spacing-unit + 2 * $spacing-unit)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-query(calc(2 * 300px + 4 * $spacing-unit + $spacing-unit)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_item {
    border: 1px solid black;

    &_titlebar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px;
      margin-bottom: 0px 0px calc($spacing-unit / 3) 0px;
    }

    &_title {
      font-weight: bold;
    }

    &_link {
      color: $text-color;
      font-weight: normal;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    &_body {
      padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
    }

    &:hover {
      background: $gray-color-10;
      cursor: pointer;
    }

    &_description {
      border-left: 3px solid $gray-color-50;
      padding-left: calc($spacing-unit / 4);

      &-empty {
        color: $gray-color-50;
        font-style: italic;
      }
    }
  }

  &_buttons {
    display: flex;
    flex-direction: row;
    margin-top: calc($spacing-unit / 4);
    margin-left: auto;
    width: fit-content;
  }
}

main {
  flex: 1;
  box-sizing: border-box;
  padding: 0 calc(2 * $spacing-unit);

  @include media-query(calc($on-palm + 5 * $spacing-unit)) {
    padding: 0 calc($spacing-unit / 2);
  }
}

footer {
  height: calc(2 * $spacing-unit);
  background-color: $gray-color-10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.75 * $base-font-size;
  align-items: center;
  border-top: 1px solid $gray-color-50;

  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    align-items: center;

    li {
      margin: 0 calc($spacing-unit / 2);
    }
  }

  div {
    width: 200px;

    div {
      text-align: center;
    }

    ul {
      justify-content: space-between;

      li {
        margin: 0;
      }
    }
  }
}

.hidden {
  display: none;
  margin: 0;
}

form {
  width: 350px;

  div {
    display: flex;
    flex-direction: column;
    margin: calc($spacing-unit / 4) 0;

    &.inline {
      width: 100%;
      display: flex;
      flex-direction: row;

      input {
        margin-left: calc($spacing-unit/4);
      }
    }

    &.automatic {
      input {
        pointer-events: none;
        background: $gray-color-05;
        font-size: 100%;
      }
    }

    &.message {
      background: $gray-color-05;
      margin: calc($spacing-unit/2) 0;
      padding: calc($spacing-unit / 4) calc($spacing-unit / 2);
      border: 1px solid $gray-color-40;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }

    input,
    textarea {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 100%;
    }

    & div.error,
    & div.success {
      margin-bottom: 0;
    }

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        font-size: calc(0.8 * $base-font-size);
      }
    }
  }
}

.error {
  color: red;
}

.success {
  color: green;
}

.button {
  border: 1px solid black;
  background: $gray-color-10;
  margin-left: calc($spacing-unit / 2);
  width: fit-content;

  &_link {
    color: $text-color;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &_body {
    padding: calc($spacing-unit / 4) calc($spacing-unit / 3);
  }

  &:hover {
    background: $gray-color-20;
    cursor: pointer;
  }
}

.manifest {
  min-width: 350px;
}

.versions {
  list-style: none;
  display: grid;
  gap: calc($spacing-unit / 4) $spacing-unit;
  grid-template-columns: repeat(1, 0.25fr);
}

.version {
  border: 1px solid black;

  &-file {}

  &-dir {}

  &_body {
    padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
  }

  &_link {
    color: $text-color;
    font-weight: normal;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &_row {

    &-metadata,
    &-hash {
      border-left: 3px solid $gray-color-50;
      padding-left: calc($spacing-unit / 4);
      font-size: calc(0.75 * $base-font-size);
    }
  }

  &_message {
    font-weight: bold;
  }

  &_author {}

  &_date {}

  &_hash {
    font-family: $mono;
  }

  &:hover {
    background: $gray-color-10;
    cursor: pointer;
  }
}
