<h1>Create a Team</h1>

<form method="POST">
  {{ with .Error }}
  <div class="message">
    <p class="error">
      {{ . }}
    </p>
  </div>
  {{ end }}

  <div class="automatic">
    <label for="slug">Slug:</label>
    <input class="disabled" id="slug" name="slug" type="text" readonly />
  </div>

  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" placeholder="Team Name" />
  </div>

  <div>
    <label for="contact">Contact Email</label>
    <input name="contact" type="email" value="{{ .AuthUser.Email }}" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description" rows="4" placeholder="Team Description"></textarea>
  </div>

  <div class="inline">
    <label for="isPrivate">Private?</label>
    <input name="isPrivate" type="checkbox" value="true" />
  </div>

  <div>
    <button type="submit">Create Team ▶</button>
  </div>
</form>

{{ template "views/partials/slugify" . }}