{{ if .AuthUser }}
<div>
    <span class="icon">
        <i class="fa fa-square-plus"></i>
    </span>
    <a href="/organization/create">Create Organization</a>
</div>
{{ end }}
<ul>
    {{ range .Organizations }}
    {{ $org := . }}
    <li>
        <a href="/{{ .Slug }}">{{ .Name }}</a>
        <ul>
            {{ range .Datasets }}
            <li>
                <a href="/{{ $org.Slug }}/{{ .Slug }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
