{{ $org := .Organization }}
{{ $avatar := "https://gateway.39alpharesearch.org/ipfs/QmZJEpyUESuu45zf9JaRZUvnKomg2y5cSkHLC2u1rjcL3Z" }}
<h1>{{ $org.Name }} Datasets</h1>
{{ if .AuthUser }}
<div>
    <span class="icon">
        <i class="fa fa-square-plus"></i>
    </span>
    <a href="/{{ $org.Slug }}/dataset/create">Create Dataset</a>
</div>
{{ end }}
{{ range $org.Datasets }}
    <div class="dataset">
        <img class="dataset_avatar" src="{{ $avatar }}" alt="{{ .Name }} avatar" />
        <div class="dataset_details">
            <div class="dataset_header">
                <a href="{{ $org.Slug }}/{{ .Slug }}">{{ $org.Name }}/{{ .Name }}</a>
            </div>
            <div class="dataset_description">
                <p>
                {{ with .Description }}
                    {{ . }}
                {{ else }}
                    A glorious dataset as yet undescribed
                {{ end }}
                </p>
            </div>
        </div>
    </div>
{{ else }}
    <p>This organization has no {{ if not .AuthUser }}public{{end}} datasets yet.</p>
{{ end }}
