<section>
  <header>
    <h1>Register</h1>
  </header>

  <form method="POST">
    <div>
      <label for="name">Name</label>
      <input name="name" type="text" placeholder="Enter Name" required />
    </div>
    <div>
      <label for="email">Email</label>
      <input name="email" type="email" autocomplete="email" placeholder="Enter Email" required />
    </div>
    <div>
      <label for="password">New Password</label>
      <input id="password" name="password" type="password" autocomplete="new-password" placeholder="Enter Password"
        required />
    </div>
    <div>
      <label for="confirm-password">Confirm New Password</label>
      <input id="confirmPassword" name="confirm-password" type="password" autocomplete="new-password"
        placeholder="Confirm Password" onChange="checkPasswordConfirmation()" required />
      <div id="passwordCheck" class="hidden"></div>
    </div>
    <div>
      <label for="orcid">ORCiD (optional)</label>
      <input name="orcid" type="text" placeholder="0000-0000-0000-0000" />
    </div>

    <div>
      <button type="submit" disabled>Register ▶</button>
    </div>
  </form>

  <script>
    const checkPasswordConfirmation = function () {
      const password = $("#password").val();
      const confirmPassword = $("#confirmPassword").val();

      const flash = $("#passwordCheck");
      const submit = $('button[type="submit"]');
      flash.removeClass("error");
      flash.removeClass("success");
      if (password != confirmPassword) {
        flash.addClass("error").html("Passwords do not match!");
        submit.prop('disabled', true);
      } else {
        flash.addClass("success").html("Passwords match.");
        submit.prop('disabled', false);
      }
      flash.removeClass("hidden")
    }

    $(document).ready(function () {
      $("#confirmPassword").keyup(checkPasswordConfirmation);
    });
  </script>
</section>
