<h1>Edit Team {{ .Team.Slug }}</h1>

<form method="POST">
  {{ with .Error }}
  <div class="message">
    <p class="error">
      {{ . }}
    </p>
  </div>
  {{ end }}

  <input class="hidden" name="id" type="number" value="{{ .Team.ID }}" readonly />

  <div class="automatic">
    <label for="slug">Slug</label>
    <input class="disabled" id="slug" name="slug" value="{{ .Team.Slug }}" type=" text" readonly />
  </div>

  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="{{ .Team.Name }}" />
  </div>

  <div>
    <label for="contact">Contact Email</label>
    <input name="contact" type="email" value="{{ .Team.Contact }}" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description" rows="4">
      {{- .Team.Description -}}
    </textarea>
  </div>

  <div class="inline">
    <label for="isPrivate">Private?</label>
    <input name="isPrivate" type="checkbox" value="true" {{ if .Team.IsPrivate }}checked{{ end }} />
  </div>

  <div>
    <button type="submit">Update Team ▶</button>
  </div>
</form>

{{ template "partials/slugify" . }}
