<h1>Edit Team {{ .Team.Name }}</h1>

<form method="POST">
  {{ with .Error }}
  <div class="message">
    <p class="error">
      {{ . }}
    </p>
  </div>
  {{ end }}

  <input class="hidden" name="id" type="number" value="{{ .Team.ID }}" readonly />

  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="{{ .Team.Name }}" />
    <p id="availability"></p>
  </div>

  <div>
    <label for="contact">Contact Email</label>
    <input name="contact" type="email" value="{{ .Team.Contact }}" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description" rows="4">
      {{- .Team.Description -}}
    </textarea>
  </div>

  <div class="inline">
    <label for="isPrivate">Private?</label>
    <input name="isPrivate" type="checkbox" value="true" {{ if .Team.IsPrivate }}checked{{ end }} />
  </div>

  <div>
    <button type="submit">Update Team ▶</button>
  </div>
</form>

<script>
  checkAvailability("team", "/team/availability", {
    original: "{{.Team.Name}}",
    trigger: 'button[type="submit"]',
  });
</script>
