<section>
  <header>
    <h1>Create a Team</h1>
  </header>

  <form method="POST">
    {{ with .Error }}
    <div class="message">
      <p class="error">
        {{ . }}
      </p>
    </div>
    {{ end }}

    <div>
      <label for="name">Name</label>
      <input id="name" name="name" type="text" placeholder="Team Name" />
      <p id="availability" class="hidden"></p>
    </div>

    <div>
      <label for="contact">Contact Email</label>
      <input name="contact" type="email" value="{{ .AuthUser.Email }}" />
    </div>

    <div>
      <label for="description">Description</label>
      <textarea name="description" rows="4" placeholder="Team Description"></textarea>
    </div>

    <div class="inline">
      <label for="isPrivate">Private?</label>
      <input name="isPrivate" type="checkbox" value="true" />
    </div>

    <div>
      <button id="submit" type="submit" disabled>Create Team ▶</button>
    </div>
  </form>
</section>

<script>
  checkAvailability("team", "/team/availability", {
    startDisabled: true,
    trigger: 'button[type="submit"]'
  });
</script>
