{{ $team := .Team }}

<h2 class="mb-0">
    {{ $team.FullName }}

    {{ if $team.IsPrivate }}
    <i class="fa-solid fa-lock-open"></i>
    {{ end }}
</h2>
{{ if and .AuthUser (or .CanManage .CanWrite) }}
    <nav>
        <ul class="mt-0">
            {{ if .CanManage }}
                <li>
                    <a href="{{ $team.Path }}/settings">Settings</a>
                </li>
            {{ end }}
            {{ if .CanWrite }}
                <li>
                    <a href="{{ $team.Path }}/dataset/create">Create a Dataset</a>
                </li>
            {{ end }}
        </ul>
    </nav>
{{ end }}

<p class="italic">{{ $team.Description }}</p>

{{ with $team.Datasets }}
    {{ template "partials/asset-entry" . }}
{{ else }}
    <p class="font-bold">No datasets have been created yet.</p>
{{ end }}
