{{ $team := .Team }}
<section>
    <h1 class="mb-0">{{ $team.FullName }} Datasets</h1>
    {{ if .AuthUser }}
    <nav>
        <ul class="mt-0">
            {{ if .CanManage }}
            <li>
                <a href="{{ $team.Path }}/settings">Settings</a>
            </li>
            {{ end }}
            <li><a href="{{ $team.Path }}/dataset/create">Create a Dataset</a></li>
        </ul>
    </nav>
    {{ end }}

    <p>{{ $team.Description }}</p>

    {{ with $team.Datasets }}
    {{ template "partials/asset-entry" . }}
    {{ else }}
    <p>No datasets have been created yet.</p>
    {{ end }}
</section>
