{{ $team_path := .Team.Path }}
<h2><a href="{{.Team.Path}}">{{ .Team.FullName }}</a> Settings</h2>

<section>
    <h3 class="mb-2">General Settings</h3>

    <form class="flex flex-col max-w-sm" name="update" method="POST" onsubmit="return confirmUpdates(event);">
        {{ template "partials/error-message" . }}

        <input class="hidden" name="id" type="number" value="{{ .Team.ID }}" readonly />

        <label class="font-bold" for="name">Name</label>
        <input id="name" name="name" type="text" data-value="{{ .Team.Name }}" value="{{ .Team.Name }}" autofocus required />
        <p class="mt-0 mb-2 hidden"><small id="availability"></small></p>

        <label class="font-bold" for="contact">Contact Email</label>
        <input id="contact" name="contact" type="email" value="{{ .Team.Contact }}" required />

        <label class="font-bold" for="description">Description</label>
        <textarea id="description" name="description" rows="4">
            {{- .Team.Description -}}
        </textarea>

        <div class="mb-4 flex flex-row items-center gap-5">
            <label class="font-bold" for="isPrivate">Private?</label>
            <input id="isPrivate" name="isPrivate" type="checkbox" value="true" {{ if .Team.IsPrivate }}checked{{ end }} />
        </div>

        <dialog class="max-w-sm" id="name_change_confirmation">
            <p class="mt-0"><strong>Warning</strong>: You are about to change the team name from <strong><slot id="name_was"></slot></strong> to <strong><slot id="name_now"></slot></strong>.</p>
            <p>Users who have cloned any dataset owned by this team will have to change their remote setting.</p>
            <p>Are you sure you want to do this?</p>
            <div>
                <button type="button" onclick="closeDialog(this);">Cancel</button>
                <button class="text-red-600 font-bold" type="button" onclick="confirmNameChange.next(this);">Do it!</button>
            </div>
        </dialog>

        <dialog class="max-w-sm" id="visibility_change_confirmation">
            <p class="mt-0"><strong>Warning</strong>: You are about to change the visibility of the team from <strong><slot id="visibility_was"></slot></strong> to <strong><slot id="visibility_now"></slot></strong>.</p>
            <p><slot id="visibility_warning"></slot></p>
            <p>Are you sure you want to do this?</p>
            <div>
                <button type="button" onclick="closeDialog(this);">Cancel</button>
                <button class="text-red-600 font-bold" type="button" onclick="confirmVisibilityChange.next(this);">Do it!</button>
            </div>
        </dialog>

        <button type="submit">Update Team ▶</button>
    </form>
</section>

<section>
    <h3 class="mb-2">User Access</h3>

    <form class="flex flex-col max-w-sm" name="user-access" action="#">
        <p class="mt-0 italic text-red-500 hidden"><small class="error"></small></p>
        <input class="hidden" name="id" type="number" value="{{ .Team.ID }}" readonly />
        <input id="search" type="text" placeholder="Search for a user..." />
        <div id="search-results" class="mt-0 mb-0 p-0 hidden border-1 border-t-0 bg-white max-h-sm overflow-y-auto"></div>
        <div class="mt-2" id="privileges">
        {{ range $i, $user := .Users }}
            {{ range $j, $privilege := $user.TeamPrivileges }}
                <fieldset class="pt-0 flex flex-row justify-between" data-index={{$i}} data-user-id="{{ $user.ID }}" data-name="{{ $user.Name }}" data-email="{{ $user.Email }}" data-privilege-code={{ $privilege.Privilege.Code }}>
                    <legend>{{ $user.Name }} <small>&lt;{{ $user.Email }}&gt;</small></legend>
                    <div>
                        <input type="radio" name="privilege-{{$i}}" id="privilege-read-{{$i}}" value="read" {{ if eq .Privilege.Code "read" }}checked{{ end }} onchange="updatePrivileges('{{$team_path}}/privilege', this);" />
                        <label for="privilege-read-{{$i}}">read</label>

                        <input type="radio" name="privilege-{{$i}}" id="privilege-write-{{$i}}" value="write" {{ if eq .Privilege.Code "write" }}checked{{ end }} onchange="updatePrivileges('{{$team_path}}/privilege', this);" />
                        <label for="privilege-write-{{$i}}">write</label>

                        <input type="radio" name="privilege-{{$i}}" id="privilege-admin-{{$i}}" value="admin" {{ if eq .Privilege.Code "admin" }}checked{{ end }}  onchange="updatePrivileges('{{$team_path}}/privilege', this);"/>
                        <label for="privilege-admin-{{$i}}">admin</label>
                    </div>
                    <div>
                        <button class="bg-transparent border-0" type="button" onclick="removePrivileges('{{$team_path}}/privilege', this);"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </fieldset>
            {{ end }}
        {{ end }}
        </div>
    </form>
</section>

<section>
    <h3 class="mb-2">Team Management</h3>

    <form class="flex flex-col max-w-sm" name="delete" onsubmit="return sendDelete('{{ .Team.Path }}', '/', event);">
        <p class="mt-0 italic text-red-500 hidden"><small class="error"></small></p>
        <dialog class="max-w-sm">
            <p class="mt-0"><strong>Warning</strong>: When teams are deleted all data, including
            all datasets owned by the team, are removed from the server.
            Make sure you understand the risks before deleting a team.</p>

            <div>
                <button type="button" onclick="closeDialog(this);">Cancel</button>
                <button class="text-red-600 font-bold" type="submit">Do it!</button>
            </div>
        </dialog>
        <button class="text-red-600 font-bold" type="button" onclick="requestConfirmation(event);">Delete Team ▶</button>
    </form>
</section>

<template id="found-users">
    <ul class="m-0 !p-0 list-none">
    </ul>
</template>

<template id="user">
    <li class="m-0 p-0 hover:bg-gray-200"><button class="m-0 px-2 py-0 h-full w-full bg-transparent border-0 text-left text-base" type="button" onclick="addUserPrivilege(this);"> <i class="fa-solid fa-plus"></i> <slot></slot> &lt;<slot></slot>&gt;</button></li>
</template>

<template id="no-users-found">
    <p class="pl-2 my-0"><em>No users found</em></p>
</template>

<template id="new-privilege">
    <fieldset class="pt-0 flex flex-row justify-between">
        <legend><slot class="name"></slot> <small>&lt;<slot class="email"></slot>&gt;</small></legend>
        <div>
            <input type="radio" value="read" onchange="updatePrivileges('{{$team_path}}/privilege', this);" />
            <label>read</label>

            <input type="radio" value="write" onchange="updatePrivileges('{{$team_path}}/privilege', this);" />
            <label>write</label>

            <input type="radio" value="admin" onchange="updatePrivileges('{{$team_path}}/privilege', this);" />
            <label>admin</label>
        </div>
        <div>
            <button class="bg-transparent border-0" type="button" onclick="removePrivileges('{{$team_path}}/privilege', this);"><i class="fa-solid fa-trash"></i></button>
        </div>
    </fieldset>
</template>

<script>
    checkAvailability("team", "/team/availability", {
        original: "{{.Team.Name}}",
        trigger: 'button[type="submit"]',
        target_parent: true,
    });

    searchUsersForPrivileges($('#search'), $("#search-results"));
</script>
