<h1>Team {{ .Team.FullName }} Settings</h1>

<form class="flex flex-col max-w-sm" method="POST">
    {{ template "partials/error-message" . }}

    <input class="hidden" name="id" type="number" value="{{ .Team.ID }}" readonly />

    <label class="font-bold" for="name">Name</label>
    <input id="name" name="name" type="text" value="{{ .Team.Name }}" autofocus required />
    <p class="mt-0 mb-2 hidden"><small id="availability"></small></p>

    <label class="font-bold" for="contact">Contact Email</label>
    <input name="contact" type="email" value="{{ .Team.Contact }}" required />

    <label class="font-bold" for="description">Description</label>
    <textarea name="description" rows="4">
        {{- .Team.Description -}}
    </textarea>

    <div class="mb-4 flex flex-row items-center gap-5">
        <label class="font-bold" for="isPrivate">Private?</label>
        <input name="isPrivate" type="checkbox" value="true" {{ if .Team.IsPrivate }}checked{{ end }} />
    </div>

    <button type="submit">Update Team ▶</button>
</form>

<script>
    checkAvailability("team", "/team/availability", {
        original: "{{.Team.Name}}",
        trigger: 'button[type="submit"]',
        target_parent: true,
    });
</script>
