<h2>Users</h2>

<form class="flex flex-row gap-2 mb-4" onsubmit="return adminUserSearch(event);">
    <input class="flex-1" type="text" name="search" placeholder="Search..." value="{{ .Search }}" autofocus />
    <button class="flex-none" type="submit">Search</button>
</form>

{{ if .Users }}
    {{ with .Users }}
        <table class="w-full table-auto border-collapse">
            <thead>
                <tr>
                    <th class="px-2 border-1">ID</th>
                    <th class="px-2 border-1">Role</th>
                    <th class="px-2 border-1">Name</th>
                    <th class="px-2 border-1">Email</th>
                    <th class="px-2 border-1">Orcid</th>
                    <th class="px-2 border-1">Created</th>
                    <th class="px-2 border-1">Updated</th>
                </tr>
            </thead>

            <tbody>
            {{ range . }}
                <tr>
                    <td class="px-2 border-1 text-center"><a href="/admin/users/{{ .ID }}">{{ .ID }}</td>
                    <td class="px-2 border-1">{{ .RoleCode }}</td>
                    <td class="px-2 border-1">{{ .Name }}</td>
                    <td class="px-2 border-1">{{ .Email }}</td>
                    <td class="px-2 border-1">
                    {{ if .HasOrcid }}
                        {{ .Orcid }}
                    {{ else }}
                        -
                    {{ end }}
                    </td>
                    <td class="px-2 border-1">{{ .CreatedAt | TimeFmt }}</td>
                    <td class="px-2 border-1">{{ .CreatedAt | TimeFmt }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    {{ end }}

    <p class="mb-0">
        Page <span>{{ .Page }}</span> of <span>{{ .NumPages }}</span> <span>({{ .PerPage }} per page)</span>
    </p>

    <p class="mt-0">
    {{ if .PrevPage }}
        <a href="/admin/users?page={{ .PrevPage }}&per_page={{ .PerPage }}">Prev</a>
    {{ end }}

    {{ if and .PrevPage .NextPage }}
        <span class="mx-2">|</span>
    {{ end }}

    {{ if .NextPage }}
        <a href="/admin/users?page={{ .NextPage }}&per_page={{ .PerPage }}">Next</a>
    {{ end }}
    </p>
{{ else }}
    <p>Found no users that match your query.</p>
{{ end }}

<script>
    const adminUserSearch = (event) => {
        event.preventDefault();

        const search = $(event.target).find('input[name="search"]').val();
        if (search.length === 0) {
            window.location.href = window.location.pathname
        } else {
            window.location.href = window.location.pathname + "?search=" + escape(search);
        }
    };
</script>